PORT=3001
# Provide the absolute path to your Firebase Admin SDK service account key JSON file
# Or define FIREBASE_PROJECT_ID, FIREBASE_CLIENT_EMAIL, FIREBASE_PRIVATE_KEY
FIREBASE_SERVICE_ACCOUNT_KEY=./service-account-key.json

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
